<div class='row' id='statesPage'>
  <h2>What Type of Event would you like to see?</h2>
  <br>
  <ul id='listOfStates'>
    <% @states.each do |state| %>
      <div data-event-type='<%= state[:state_name] %>' class="col-lg-4" id='state'>
        <li><%= state[:state_name] %></li>
      </div>
    <% end %>
  </ul>
</div>
